_rmlmapper.jar
_amie.jar
_limes.jar

openfoodfact/products_original.csv

openfoodfact/products.ttl
openfoodfact/categories.ttl
openfoodfact/ingredients.ttl
openfoodfact/countries.ttl
openfoodfact/nutriscores.ttl

openfoodfact/statements.nt
openfoodfact/statements.tsv

foodb/original_data/content.csv

usda/ingredients-usda.ttl
usda/usda_nutriscores.csv
usda/usda.rdf
